player-connection-mode=Listen
player-connection-guid=3139326576
player-connection-debug=0
player-connection-project-name=topDownPC
player-connection-ip=169.254.37.170
player-connection-ip=169.254.1.176
player-connection-ip=169.254.7.227
player-connection-ip=192.168.80.1
player-connection-ip=192.168.225.1
player-connection-ip=192.168.150.1
player-connection-ip=26.36.13.66
player-connection-ip=192.168.3.4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
